/* * {
    background-color: brown;
    color: #fff
} */

.intro {
    /*class*/
    background-image: url(https://wallpaper.forfun.com/fetch/2f/2fe6f46a93e87a2f0db7c99c9fc478a3.jpeg);
    background-color: green;
    height: 650px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0%;
}

h1 {
    font-family: Roboto, sans-serif;
}

p {
    font-family: Roboto, sans-serif;
}

p span {
    font-size: xx-large;
}


.text-white {
    color: #FFF
}

.intro h1 {
    color: white;
    border-style: solid;
    border-color: orange;
    border-left: solid;
    border-right: solid;
    border-bottom: dashed;
}

.intro>p {
    color: #FFF;
    font-size: 42px;
}


.intro button {
    background-color: blue;
    color: white;
    border-style: dotted;
    border-color: aqua;
    border-width: 3px;
    border-top: dotted;
    border-top: dotted;
    border-left: solid;
    border-right: solid;
    border-radius: 15px;
    margin-left: 40px;

}


.testimonial h1 {
    font-weight: bolder;

}

.testimonial {
    padding: 30px;
    width: auto;
    background-color: #2196f3;
    max-width: 500px;
}

.outline h1 {
    font-weight: bold;

}

.outline {
    padding: 30px;
    border: 2px solid #000;
    outline: 15px solid green;
    outline-style: solid;
    background-color: #2196f3;

}